@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    background: #0A0A0B;
    color: #fff;
    position: relative;
}

h1, h2, h3, h4, h5, h6, .logo, .contact {
    font-family: Prata, sans-serif;
}

p, a, li {
    color: #848484;
    text-decoration: none;
}

.contact { // The "Get in touch" button with yellow background
    background: #FBE850;
    color: #000;
    padding: .5rem .75rem;
}

img {
    max-width: 100%;
}